@media only screen and (max-width: 800px) {
    .footer-nav ul li {
        float: none;
        margin: 0 0;
    }
    .footer-com-sec, .navigation-title-con {
        flex-direction: column;
    }
}
